@import url(https://allfont.net/allfont.css?fonts=franklin-gothic-medium);

/* Basic Styles */
main {
  color: #000749;
  font-size: calc(10px + 2vmin);
  font-weight: 500;
  text-align: center;
}

h1 {
  font-size: 3.2rem;
  font-weight: 500;
  margin: 0;
}

p {
  font-size: 1.6rem;
  margin-top: 1rem;
}

/* Navbar */
.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 2rem 2.5rem 7rem 1rem;
}

.app-logo {
  max-width: 30rem;
  width: 50vmin;
}

.icon {
  height: 2.4rem;
  width: 2.4rem;
}

.icon-search {
  background-image: url("images/magnifying-glass-plus-solid.svg");
}

.icon-new-search {
  background-image: url("images/magnifying-glass-solid.svg");
}

.search--backdrop,
.loader-wrapper {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 5;
}

.search--box {
  align-items: center;
  background-color: #fff;
  border: 0 solid #000749;
  border-radius: 2rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  display: flex;
  height: max-content;
  left: 0;
  margin: auto;
  padding: 0.5rem 0 0.5rem 0;
  position: absolute;
  right: 0;
  top: 8.5vh;
  width: 75vw;
}

.search--input {
  border: 0;
  border-radius: 2rem;
  color: #000749;
  font-size: 2rem;
  padding: 0.5rem 1rem 0.5rem 5vw;
  outline: none;
  width: 80%;
}

.search--input::placeholder {
  color: #000749;
  opacity: 30%;
}

.enter-search {
  background-image: url("images/arrow-right-solid.svg");
  background-repeat: no-repeat;
  height: 3rem;
  padding-right: 4vw;
  width: 2.7rem;
}

/* Illustrations */
.illustrations {
  display: flex;
  justify-content: center;
  margin: 6rem auto 0;
}

.no-search {
  background-image: url("images/no-data.svg");
  height: 17.8rem;
  margin: 20vh auto 0;
  width: 22.7rem;
}

.sky {
  background-image: url("images/sky.svg");
  height: 26.2rem;
  position: relative;
  width: 25.8rem;
}

.cloud {
  animation: cloud 30s linear infinite;
  background-image: url("images/cloudy.svg");
  height: 11.6rem;
  position: absolute;
  right: 12.2rem;
  top: 5rem;
  width: 14.8rem;
  z-index: 2;
}

.cloud-2 {
  animation: cloud-2 30s linear infinite;
  background-image: url("images/cloudy-2.svg");
  bottom: 13.5rem;
  height: 12.9rem;
  left: 10.8rem;
  position: absolute;
  width: 16.2rem;
}

.cloudy-sun {
  animation: sun-moon 20s ease-in infinite;
  background-image: url("images/cloudySun.svg");
  height: 14.4rem;
  left: 5.5rem;
  position: absolute;
  top: 5rem;
  width: 14.4rem;
}

.sunny,
.moon {
  animation: sun-moon 20s ease-in infinite;
  left: 14rem;
  position: absolute;
  top: 2rem;
}

.sunny {
  background-image: url("images/sunny.svg");
  height: 12.9rem;
  width: 12.4rem;
}

.cloudy-moon,
.moon {
  background-image: url("images/moon.svg");
  height: 12.6rem;
  width: 12.6rem;
}

.cloudy-moon {
  animation: sun-moon 20s ease-in infinite;
}

@keyframes cloud {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(25px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes cloud-2 {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-25px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes sun-moon {
  0% {
    transform: scale(0.7);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.7);
  }
}

.rainy-cloud {
  background-image: url("images/rainyCloud.svg");
  height: 19.4rem;
  position: relative;
  width: 25.5rem;
}

.rain-drop-1,
.rain-drop-2,
.rain-drop-3 {
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  z-index: -5;
}

.rain-drop-1 {
  animation: drop-1 3s linear infinite;
  background-image: url("images/rainDrop1.svg");
  bottom: -2.5rem;
  height: 2.4rem;
  width: 1.9rem;
}

.rain-drop-2 {
  animation: drop-2 2s linear infinite;
  background-image: url("images/rainDrop2.svg");
  bottom: 0;
  height: 1.2rem;
  right: 2rem;
  width: 1.1rem;
}

.rain-drop-3 {
  animation: drop-3 2s linear infinite;
  background-image: url("images/rainDrop3.svg");
  bottom: -0.5rem;
  height: 0.9rem;
  left: 2rem;
  width: 0.9rem;
}

@keyframes drop-1 {
  0% {
    transform: translateY(-10px);
    opacity: 1;
    transform: scale(0);
  }
  80% {
    opacity: 1;
    transform: scale(0);
  }
  90% {
    opacity: 0.5;
    transform: scale(1);
  }
  100% {
    transform: translateY(0);
    opacity: 0;
    transform: scale(1.5);
  }
}

@keyframes drop-2 {
  0% {
    transform: translateY(0);
  }
  90% {
    transform: translateY(35px);
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes drop-3 {
  0% {
    transform: translateY(-10px);
  }
  90% {
    transform: translateY(35px);
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

.snow,
.default-cloud {
  height: 25.4rem;
  width: 25.4rem;
}

.snow {
  background-image: url("images/snow.svg");
  background-repeat: no-repeat;
}

.default-cloud {
  background-image: url("images/default-cloud.svg");
}

/* Details */
.temperature--details {
  display: flex;
  justify-content: space-around;
  margin: 7rem auto 0;
}

.temperature__average {
  font-size: 4.8rem;
  letter-spacing: 0.1rem;
}

.temperature__minmax {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1rem 0.5rem 0;
}

.temperature__minmax:last-of-type {
  opacity: 20%;
}

.extra-info--details {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(3, 1fr);
  margin: 6.5rem auto 5rem;
  width: 85%;
}

.extra-info--icon {
  background-repeat: no-repeat;
  margin: auto;
}

.pressure {
  background-image: url("images/pressure.svg");
}

.humidity {
  background-image: url("images/humidity.svg");
  height: 3.4rem;
  margin-top: -1rem;
}

.rain {
  background-image: url("images/rain.svg");
}

.extra-info__text {
  font-size: 1.6rem;
  margin-top: 2rem;
}

.pressure + .extra-info__text {
  margin-top: 1.6rem;
}

/* Loading Animation */
.loader-wrapper {
  background-color: rgba(255, 255, 255, 0.9);
}

.loader {
  animation: rotation 1s linear infinite;
  background-color: #000749;
  border-radius: 50%;
  box-sizing: border-box;
  display: block;
  height: 48px;
  position: relative;
  width: 48px;
}

.loader::after {
  background-color: #fff;
  border-radius: 50%;
  box-sizing: border-box;
  content: "";
  height: 12px;
  left: 4px;
  margin: 5px;
  position: absolute;
  top: 4px;
  width: 12px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
