/* Basic Styles */
:root {
  --color-primary: #000749;
  --position-fixed: fixed;
  --position-absolute: absolute;
  --position-relative: relative;
}

main {
  color: var(--color-primary);
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}

h1 {
  font-size: 3.2rem;
  font-weight: 500;
  margin: 0 auto;
  max-width: 25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

p {
  font-size: 1.6rem;
  margin-top: 1rem;
}

/* Navbar */
.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 2rem 7rem 1rem;
}

.app-logo {
  max-width: 20rem;
  width: 50vmin;
}

.icon {
  height: 2.4rem;
  width: 2.4rem;
}

.icon-search.bg-magnifying_glass_solid {
  background: url("images/css_sprites.png") -1358px -451px;
}

.icon-new-search.bg-magnifying_glass_plus_solid {
  background: url("images/css_sprites.png") -1402px -451px;
}

.search--backdrop,
.loader-wrapper {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  margin: 0 auto;
  max-width: 600px;
  overflow-y: hidden;
  position: var(--position-fixed);
  right: 0;
  top: 0;
  z-index: 5;
}

.prevent-scroll {
  left: 0;
  margin: 0 auto;
  max-width: 600px;
  position: var(--position-fixed);
  right: 0;
}

.search--box {
  align-items: center;
  background-color: #fff;
  border: 0 solid var(--color-primary);
  border-radius: 2rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  display: flex;
  justify-content: space-around;
  height: max-content;
  left: 0;
  margin: auto;
  max-width: 478px;
  padding: 0.5rem 0 0.5rem 0;
  position: var(--position-absolute);
  right: 0;
  top: 8.5vh;
  width: 75vw;
}

.search--input {
  border: 0;
  border-radius: 2rem;
  color: var(--color-primary);
  font-size: 2rem;
  padding: 0.5rem 1rem 0.5rem 2.5rem;
  outline: none;
  width: 80%;
}

.search--input::placeholder {
  color: var(--color-primary);
  opacity: 30%;
}

.enter-search.bg-arrow_right_solid {
  background: url("images/css_sprites.png") -387px -584px;
  height: 3rem;
  padding-left: 2rem;
  width: 2.7rem;
}

/* Illustrations */
.illustrations {
  display: flex;
  justify-content: center;
  margin: 6rem auto 0;
  min-height: 26.5rem;
}

.no-search.bg-no_data {
  background: url("images/css_sprites.png") -1111px -302px;
  height: 17.8rem;
  margin: 20vh auto 0;
  width: 22.7rem;
}

.bg-sky {
  background: url("images/css_sprites.png") -10px -302px;
  height: 26.2rem;
  position: var(--position-relative);
  width: 25.8rem;
}

.bg-cloudy {
  animation: cloud 30s linear infinite;
  background: url("images/css_sprites.png") -174px -584px;
  height: 11.6rem;
  position: var(--position-absolute);
  right: 12.2rem;
  top: 5rem;
  width: 14.8rem;
  z-index: 2;
}

.bg-cloudy_2 {
  animation: cloud-2 30s linear infinite;
  background: url("images/css_sprites.png") -1358px -302px;
  bottom: 13.5rem;
  height: 12.9rem;
  left: 10.8rem;
  position: var(--position-absolute);
  width: 16.2rem;
}

.bg-cloudySun {
  animation: sun-moon 20s ease-in infinite;
  background: url("images/css_sprites.png") -10px -584px;
  height: 14.4rem;
  left: 5.5rem;
  position: var(--position-absolute);
  top: 5rem;
  width: 14.4rem;
}

.bg-sunny,
.bg-moon {
  animation: sun-moon 20s ease-in infinite;
  left: 14rem;
  position: var(--position-absolute);
  top: 2rem;
}

.bg-sunny {
  background: url("images/css_sprites.png") -10px -748px;
  height: 12.9rem;
  width: 12.4rem;
}

.bg-cloudyMoon,
.bg-moon {
  background: url("images/css_sprites.png") -154px -748px;
  height: 12.6rem;
  width: 12.6rem;
}

.bg-cloudyMoon {
  animation: sun-moon 20s ease-in infinite;
}

@keyframes cloud {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(25px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes cloud-2 {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-25px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes sun-moon {
  0% {
    transform: scale(0.7);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.7);
  }
}

.bg-rainyCloud {
  background: url("images/css_sprites.png") -836px -302px;
  height: 19.4rem;
  margin-top: 2rem;
  position: var(--position-relative);
  width: 25.5rem;
}

.bg-rainDrop1,
.bg-rainDrop2,
.bg-rainDrop3 {
  left: 0;
  margin: auto;
  position: var(--position-absolute);
  right: 0;
  z-index: 0;
}

.bg-rainDrop1 {
  animation: drop-1 3s linear infinite;
  background: url("images/css_sprites.png") -434px -584px;
  top: 16rem;
  height: 24rem;
  width: 1.9rem;
}

.bg-rainDrop2 {
  animation: drop-2 2s linear infinite;
  background: url("images/css_sprites.png") -1540px -302px;
  bottom: 0;
  height: 1.2rem;
  right: 2rem;
  width: 1.1rem;
}

.bg-rainDrop3 {
  animation: drop-3 2s linear infinite;
  background: url("images/css_sprites.png") -1540px -334px;
  bottom: -0.5rem;
  height: 0.9rem;
  left: 2rem;
  width: 0.9rem;
}

@keyframes drop-1 {
  0% {
    opacity: 0;
  }
  30% {
    transform: translateY(20px);
    transform: scale(1);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(30px);
    opacity: 0;
    transform: scale(0);
  }
}

@keyframes drop-2 {
  0% {
    transform: translateY(0);
  }
  90% {
    transform: translateY(35px);
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes drop-3 {
  0% {
    transform: translateY(-10px);
  }
  90% {
    transform: translateY(35px);
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

.bg-snow,
.bg-default_cloud {
  height: 25.4rem;
  width: 25.4rem;
}

.bg-snow {
  background: url("images/css_sprites.png") -562px -302px;
}

.bg-default_cloud {
  background: url("images/css_sprites.png") -288px -302px;
}

/* Details */
.temperature--details {
  display: flex;
  justify-content: space-around;
  margin: 7rem auto 0;
}

.temperature__average {
  font-size: 4.8rem;
  letter-spacing: 0.1rem;
}

.temperature__minmax {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1rem 0.5rem 0;
}

.temperature__minmax:last-of-type {
  opacity: 20%;
}

.extra-info--details {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(3, 1fr);
  margin: 6.5rem auto 0;
  padding-bottom: 4rem;
  width: 85%;
}

.extra-info--icon {
  margin: auto;
}

.bg-pressure {
  background: url("images/css_sprites.png") -1490px -451px;
}

.bg-humidity {
  background: url("images/css_sprites.png") -342px -584px;
  height: 3.4rem;
  margin-top: -1.2rem;
}

.bg-rain {
  background: url("images/css_sprites.png") -1446px -451px;
  height: 2.2rem;
  width: 2.4rem;
}

.extra-info__text {
  font-size: 1.6rem;
  margin-top: 2rem;
}

.bg-pressure + .extra-info__text {
  margin-top: 1.4rem;
}

/* Loading Animation */
.loader-wrapper {
  background-color: rgba(255, 255, 255, 0.9);
}

.loader {
  animation: rotation 1s linear infinite;
  background-color: var(--color-primary);
  border-radius: 50%;
  box-sizing: border-box;
  display: block;
  height: 48px;
  position: var(--position-relative);
  width: 48px;
}

.loader::after {
  background-color: #fff;
  border-radius: 50%;
  box-sizing: border-box;
  content: "";
  height: 12px;
  left: 4px;
  margin: 5px;
  position: var(--position-absolute);
  top: 4px;
  width: 12px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
