@import url(https://allfont.net/allfont.css?fonts=franklin-gothic-medium);

/* Basic Styles */
main {
  color: #000749;
  font-size: calc(10px + 2vmin);
  font-weight: 500;
  text-align: center;
}

h1 {
  font-size: 3.2rem;
  font-weight: 500;
  margin: 0;
}

p {
  font-size: 1.6rem;
  margin-top: 1rem;
}

/* Navbar */
.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 2rem 2.5rem 7rem 1rem;
}

.app-logo {
  max-width: 30rem;
  width: 50vmin;
}

.icon {
  height: 2.4rem;
  width: 2.4rem;
}

.icon-search {
  background-image: url("images/magnifying-glass-solid.svg");
}

.search--backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.search--box {
  align-items: center;
  background-color: #fff;
  border: 0 solid #000749;
  border-radius: 2rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  display: flex;
  height: max-content;
  left: 0;
  margin: auto;
  padding: 0.5rem 0 0.5rem 0;
  position: absolute;
  right: 0;
  top: 8.5vh;
  width: 75vw;
}

.search--input {
  border: 0;
  border-radius: 2rem;
  color: #000749;
  font-size: 5vw;
  padding: 0.5rem 0 0.5rem 5vw;
  outline: none;
  width: 80%;
}

.search--input::placeholder {
  color: #000749;
  opacity: 30%;
}

.enter-search {
  background-image: url("images/arrow-right-solid.svg");
  background-repeat: no-repeat;
  height: 3rem;
  padding-right: 4vw;
  width: 2.7rem;
}

/* Illustrations */
.illustrations {
  background-image: url("images/sky.svg");
  height: 26.2rem;
  margin: 6rem auto 0;
  position: relative;
  width: 25.8rem;
}

.illustrations__cloud {
  background-image: url("images/cloudy.svg");
  height: 11.6rem;
  position: absolute;
  right: 12.2rem;
  top: 5rem;
  width: 14.8rem;
  z-index: 2;
}

.illustrations__cloud_2 {
  background-image: url("images/cloudy-2.svg");
  bottom: 13.5rem;
  height: 12.9rem;
  left: 10.8rem;
  position: absolute;
  width: 16.2rem;
}

.illustrations__sun {
  background-image: url("images/cloudySun.svg");
  height: 14.4rem;
  left: 5.5rem;
  position: absolute;
  top: 5rem;
  width: 14.4rem;
}

/* Details */
.temperature--details,
.extra-info--details {
  display: flex;
  justify-content: space-between;
}

.temperature--details {
  margin: 7rem 5rem 0;
}

.temperature__average {
  font-size: 4.8rem;
  letter-spacing: 0.1rem;
}

.temperature__minmax {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1rem 0.5rem 0;
}

.temperature__minmax:last-of-type {
  opacity: 20%;
}

.extra-info--details {
  margin: 6.5rem 5rem 5rem;
}

.extra-info--icon {
  background-repeat: no-repeat;
  margin: auto;
}

.pressure {
  background-image: url("images/pressure.svg");
}

.humidity {
  background-image: url("images/humidity.svg");
  height: 3.4rem;
  margin-top: -1rem;
}

.rain {
  background-image: url("images/rain.svg");
}

.extra-info__text {
  font-size: 1.6rem;
  margin-top: 2rem;
}
