html {
  font-size: 62.5%;
  letter-spacing: 0.01rem;
}

body {
  margin: 0;
  font-family: "Franklin Gothic Medium", arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
