html {
  font-size: 62.5%;
  letter-spacing: 0.01rem;
}

body {
  font-family: "Franklin Gothic Medium", arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
  max-width: 600px;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
