@font-face {
  font-family: "franklin_gothic_mediumregular";
  src: url("services/fontService/franklin-gothic-medium_cad69af7e1dd4b7b77c3a4a21120cd60-webfont.woff2")
      format("woff2"),
    url("services/fontService/franklin-gothic-medium_cad69af7e1dd4b7b77c3a4a21120cd60-webfont.woff")
      format("woff");
}

html {
  font-size: 62.5%;
  height: 100%;
  letter-spacing: 0.01rem;
}

body {
  font-family: "franklin_gothic_mediumregular", arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  margin: 0 auto;
  max-width: 600px;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  background-color: rgb(250, 250, 250);
  min-height: 100%;
}
